.boxPergunta{
    width: 182px;
   height: 40px;
   background-color: #FFFFFF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 5px;
   box-shadow: 0 4 5 0 #000000 15%;
   margin-bottom: 5px;
}

.boxResposta{ 
   width: 182px;
   height: 80px;
   background-color: #FFFFFF;
   border-radius: 5px;
   box-shadow: 0 4 5 0 #000000 15%;
   margin-bottom: 14px;
   position: relative;
}

.textoPergunta{ 
  font-size: 12px;
  font-family: 'Recursive', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 14.4px;
  color: #333333;
  margin-left: 6px;
  margin-top: 13px;
}

.boxResposta.ion-icon{ 
   font-size: 15px;
   color: #333333;
   position: absolute;
   right: 0;
   bottom: 0;
}

.butoes{
  width: 182px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.naoLembrei{
   width: 155px;
   height: 24px;
   background-color: #FF3030;
   border-radius: 5px;
   font-size: 7px;
   font-family: 'Recursive', sans-serif;
   font-weight: 400;
   font-style: normal;
   line-height: 8.4px;
   text-align: center;
   color: #FFFFFF;
}

.quaseNaoLembrei{ 
  width: 155px;
  height: 24px;
  background-color: #FF922E;
  border-radius: 5px;
  font-size: 7px;
  font-family: "Recursive", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 8.4px;
  text-align: center;
  color: #ffffff;
}

.zap{
  width: 155px;
  height: 24px;
  background-color: #2FBE34;
  border-radius: 5px;
  font-size: 7px;
  font-family: "Recursive", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 8.4px;
  text-align: center;
  color: #ffffff;
}

.respostaCerta{
  font-size: 12px;
  font-family: 'Recursive', sans-serif;
  font-weight: 700;
  font-style: bold;
  line-height: 14.4px;
  color: #2FBE34;
  margin-left: 6px;
  text-decoration: line-through; 
}

/*export const IconeCerto = styled.ion-icon`
   font-size: 15px;
   color: #2FBE34;
`;
<ion-icon name="checkmark-circle"></ion-icon>*/

.respostaQuase{
  font-size: 12px;
  font-family: 'Recursive', sans-serif;
  font-weight: 700;
  font-style: bold;
  line-height: 14.4px;
  color: #FF922E;
  margin-left: 6px;
  text-decoration: line-through; 
}

/*export const IconeQuase = styled.ion-icon`
   font-size: 15px;
   color: #FF922E;
`;
<ion-icon name="help-circle"></ion-icon>*/

.respostaErrada{ 
  font-size: 12px;
  font-family: 'Recursive', sans-serif;
  font-weight: 700;
  font-style: bold;
  line-height: 14.4px;
  color: #FF3030;
  margin-left: 6px;
  text-decoration: line-through; 
}

.boxPergunta.ion-icon{ 
   font-size: 15px;
   color: #FF3030;
}